<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <title>Jms Dnns</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta name="viewport" content="width=700;" />
</head>

<body>

    <div id="header" class="body-width">
        <div id="header-logo">
            <img id="logo" src="/static/img/logo-jmsdnns.png" />
        </div>

        <div id="navigation">
            <ul>
                <li><a href="/bio/">Bio</a></li>
                <li><a href="/essays/">Essays</a></li>
                <li><a href="/music/">Music</a></li>
                <li><a href="/quotes/">Quotes</a></li>
            </ul>
        </div>
    </div>

    <div id="content" class="body-width">

        {{ content }}        

    </div>

</body>
</html>
