body {
    background: #fff;
    color: #000;
    font-family: "Avenir", "Helvetica Neue";
    font-size: 12pt;
    font-weight: 300;
    line-height: 200%;
    margin: 0 auto;
    padding: 0;
}

.body-width {
    margin: 0 auto;
    width: 600px;
}

/* Headers */

h1, h2, h3, h4, h5 {
    font-weight: 100;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

/* Text Decoration */

b {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
    background: #eee;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 2px;
    padding-right: 2px;
}

a:hover {
    color: #fff;
    background: #000;
}

/* Header */

div#header {
    width: 600px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

div#header-logo {
    padding-top: 35px;
    height: 78px;
}

div#navigation {
    margin-top: 25px;
    margin-bottom: 50px;
    height: 36px;
    line-height: 40px;
    border-bottom: 1px solid #000;
}

div#navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#navigation ul li {
    float: left;
    width: 25%;
}

div#navigation ul a {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    background: transparent; /* turn off gray link bg */
    font-size: 22px;
}

div#navigation ul a:hover {
    color: #fff;
    background: #000;
}

/* Content */

div#content {
    padding-bottom: 200px;
}

figure {
    margin: 0px;
}

ul.essay_list {
    display: block;
    list-style-type: none;
    padding-left: 0;
    margin: -8;
}

ul.essay_list li.essay_item {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 35px;
}

li.essay_item a {
    background: transparent;
    margin: 0;
    padding: 0;
}

li.essay_item a:hover {
    color: #fff;
    background: #000;
}
