<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <title>Jms Dnns</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta name="viewport" content="width=700;" />
{% block head_extra %}{% endblock %}
</head>

<body>

    <div id="header" class="body-width">
        <ul>
            <li><div id="logo2">Jms Dnns</div></li>
            <li><a href="/bio/">Bio</a></li>
            <li><a href="/essays/">Essays</a></li>
            <li><a href="/music/">Music</a></li>
            <li><a href="/quotations/">Quotations</a></li>
        </ul>
        <div style="clear:both"></div>
    </div>


    <div id="content" class="body-width">

{% block body_content %}{{ content }}{% endblock %}

    </div>

</body>
</html>
